html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Encabezado */

.site-header {
    padding: 10px 0;
    background-color: black;
}

.site-header img {
    display: block;
    margin: 0 auto;
}

/* Globales */

img {
    max-width: 100%;
}
p{
    font-size: 18px;
    line-height: 2;
    text-align: justify;
}


.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

/* Introducción*/

.introduccion{
    padding: 1rem;
    margin: 8rem auto;
    font-style: italic;
    color: rgb(24, 34, 173);
    border: rgb(188, 74, 211) dotted 1px;
    text-align: justify;
    border-radius: 2rem;
    borde
}

.entrada{
    border-bottom: gray dotted 1px;
}

.boton{
    color: white;
    text-decoration: none; 
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: black;
    
    text-align: center;
    border-radius: 1rem;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton{
    display: inline-block;
    flex: 0 0 auto;
    }
}


@media (min-width: 768px) {
    .entrada {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
        align-items: center;
    }
    .entrada .imagen {
        flex-basis: 40%;
        
        
    }
    .entrada .texto-entrada {
        flex-basis: calc(60% - 4rem);
       
    }
}

main h2 {
    color: rgb(97, 28, 28);
    line-height: 1;
}

.site-footer {
    background-color: #3f9aaa;
    text-align: center;
}

.site-footer h2 {
    color: rgb(10, 12, 114);
}

.sobre-mi p{
    margin-top: 1rem;
    font-weight: 600;
    font-style: oblique;
    color: white;
    text-align: justify;
    font-size: 20px ;
}
.copyright {
    margin: 0;
    color: white;
    text-align: center;
    background-color: #265e68;
}
